/* Coolors Exported Palette - coolors.co/00a5ae-633448-e6e8e6-eff2f2-f7f7f2 */

/* HSL */
$color1: hsla(183%, 100%, 34%, 1);
$color2: hsla(334%, 31%, 30%, 1);
$color3: hsla(120%, 4%, 91%, 1);
$color4: hsla(180%, 10%, 94%, 1);
$color5: hsla(60%, 24%, 96%, 1);

/* RGB */
$color1: rgba(0, 165, 174, 1);
$color2: rgba(99, 52, 72, 1);
$color3: rgba(230, 232, 230, 1);
$color4: rgba(239, 242, 242, 1);
$color5: rgba(247, 247, 242, 1);