.App {
  background-color:rgba(247, 247, 242, 1);
  transition: fade-in;
  animation-duration: 2s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
      margin-top: -10%;
      opacity: 0;
  }

  to {
      opacity: 1;
      margin-top:0%;
  }
}